In [11]:
a = int(input("Enter any No:" ))
b = 300
c = 200
if ( a >= 400 ):
   print("Value is:", b, c)
else:
   print("NOT")

Enter any No:600
Value is: 300 200

In [17]:
number = eval(input("Enter an integer: "))
print(type(number))
if number % 5 == 0:
    print("HiFive")
else:
    print("not")

Enter an integer: 50.5
<class 'float'>
not

In [18]:
expression = input("Enter a mathematical expression: ")
result = eval(expression)
print("Result:", result)

Enter a mathematical expression: 10+5
Result: 15

In [19]:
     print("yyyy")

yyyy

In [20]:

print("No answer")

No answer

In [29]:
score=float(input("Enter your grades: "))
if score <= 60.0:
    print("grade = 'D'")
elif score <= 70.0:
    print("grade = 'C'")
elif score < 80.0:
    print("grade = 'B'")
elif score >= 80.0:
    print("grade = 'A'")
else:
    print("grade = 'F'")

Enter your grades: 80
grade = 'A'

In [31]:
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
     print("Hold the anchovies!")

Hold the anchovies!

In [33]:
num = -5
if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Negative number

In [37]:
age = 15
if age < 4:
  price = 0
elif age < 18:
  price = 1500
else:
  price = 2000
print("Your admission cost is Rs" + str(price) + ".")

Your admission cost is Rs1500.

In [42]:
number=int(input("Enter any integer:  "))
if number % 2 == 0:
  print("the no. is even")
else:
    print("the no. is odd")

Enter any integer:  6
the no. is even

In [51]:
qualification=input("Enter your Qualification: ")
experiance=int(input("Enter your years of services: "))
if experiance>=10 and qualification =="Masters":
     print("Salary: 150,000")
elif experiance>=10 and qualification =="Bachelors":
     print("Salary: 100,000")   
elif experiance<10 and qualification =="Masters":
     print("Salary: 100,000")   
elif experiance<10 and qualification =="Bachelors":
     print("Salary: 70,000")  
else: 
     print("Incorrect Data")

Enter your Qualification: Bachelors
Enter your years of services: 2
Salary: 70,000