In [11]:
#Q1) Python program to print all odd numbers in a list.
x=[1,2,3,4,5,6,7,8,9,10]
x=x[::2]
print(x)

[1, 3, 5, 7, 9]

In [ ]:
#Q2: sum of list
x=[1,2,3,4,5,6,7,8,9,10]
y=sum(x)
print(y)

55

In [ ]:
#Q3:(a)Python program to reverse a list in two ways.
x=[1,2,3,4,5,6,7,8,9,10]
x.reverse()
print(x)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
#Q3:(b)Python program to reverse a list in two ways.
x=[1,2,3,4,5,6,7,8,9,10]
x=x[::-1]
print(x)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [28]:
#Q4) Python program to find the top two maximum numbers in a list.
numbers = [10, 5, 8, 12, 3, 15, 6, 20]
numbers.sort()
a=numbers[-1],numbers[-2]
print(a)

(20, 15)

In [29]:
#Q5 Write a program in Python to find the second highest number in an integer list.
numbers = [10, 5, 8, 12, 3, 15, 6, 20]
numbers.sort()
a=numbers[-2]
print("The second highest number of the list is",a)

The second highest number of the list is 15

In [16]:
#Q6) Python program to sort characters in descending order.
y=[16,9,5,18,6,14]
print(y)
y.sort()
print(y)
y.reverse()
print(y)

[16, 9, 5, 18, 6, 14]
[5, 6, 9, 14, 16, 18]
[18, 16, 14, 9, 6, 5]

In [35]:
#Q7) Python program to remove repeated characters from a string.
str1=str(input("enter any string: "))
str2=""
for i in str1:
  if i not in str2:
    str2 += i
print(str2)

enter any string: book
bok

In [5]:
#Q8 Python program to check if a given character is a consonants or vovels
w=str(input("Enter any alphabet: " ))
if w=="a" or w=="e" or w=="i" or w=="o" or w=="u":
  print("The Entered Alphbet is a vovel")
else:
  print("The Entered Alphbet is a consonants")

Enter any alphabet: e
The Entered Alphbet is a vovel

In [23]:
#Q9) Python Program to calculate factorial.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Test the function
num = int(input("Enter a number: "))

if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("Factorial of 0 is 1.")
else:
    result = factorial(num)
    print("Factorial of", num, "is", result)

Enter a number: 5
Factorial of 5 is 120

In [32]:
#Q10) Python Program to merge two lists.
c=[10,5,60,9,18]
d=[5,6,8,10,70]
b=c+d
b.sort()
print(b)

[5, 5, 6, 8, 9, 10, 10, 18, 60, 70]